.titulo {
    text-align: center;
    margin: 20px 0;
    color: #333;
    text-transform: uppercase;
}

.main-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.ingredientes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.texto {
    flex: 1;
    padding: 50px;
    background-color: rgb(212, 212, 156);
    text-align: left;

    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        color: #333;
    }
}


.imagen img {
    width: 100%;
}

.image-waffle {
    width: 100%;
}

@media screen and (width <=768px) {
   

    .ingredientes {
        display: flex;
        flex-direction: column;
    }


    .info-section {
        flex-direction: row;
        justify-content: space-around;
    }


}